Data extracting

In [2]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions
from bs4 import BeautifulSoup
import re
import pandas as pd
import time

In [2]:
def Scrape(start_page,end_page,file_name): #End page is not inclusive
    names,addresses,beds,baths,year_built,tenure,property_type,mrt,price,sqft = [],[],[],[],[],[],[],[],[],[]
    housing = ['HDB','HDB 2 Rooms','HDB 3 Rooms','HDB 4 Rooms','HDB 5 Rooms','HDB Executive','Condo','Apartment','Walk-up','Landed','Executive Condo','Terraced House','Corner Terrace','Semi-Detached','Bungalow','Good Class Bungalow','Cluster House']
    # chrome_options = webdriver.ChromeOptions()
    for num in range(start_page,end_page): #Iterate through the pages to obtain property listing links
        driver = webdriver.Chrome("chromedriver.exe")
        driver.implicitly_wait(5)
        driver.get('https://www.99.co/singapore/sale?page_num={}'.format(num))
        time.sleep(3)
        links =[]

        soup=BeautifulSoup(driver.page_source, 'html.parser')
        # soup=BeautifulSoup(driver.page_source, 'lxml')
        # soup=BeautifulSoup(driver.page_source, 'xml')

        for link in soup.find_all('a'): 
            if type(link.get('href'))==str and 'Search' in link.get('href') and 'page_num'not in link.get('href'):

                links.append('https://www.99.co'+link.get('href'))


        for c,i in enumerate(links):  #Iterate through the porperty links

            driver.get(i)
            time.sleep(1.5)
            soup=BeautifulSoup(driver.page_source, 'html.parser')
            name = soup.find('h1', attrs={'class': '_3Wogd JMF8h lFqTi _1vzK2'})  #Getting property listing names
            names.append(name.getText())


            address = soup.find_all('p', attrs={'class': 'dniCg _3j72o _2rhE-'}) #Getting property address code
            a = []
            for i in address:
                a.append(i.getText()) #if .getText() doesn't work try to use .text ?
            addresses.append(re.findall('(\(D\d\d\)|\(D\d\))',''.join(a)))

            bed = soup.find_all('p', attrs={'class': '_2sIc2 _29qfj _2rhE-'}) #Getting property number of bed rooms, bathrooms and sqft
            temp1 = ['NA','NA','NA']
            for i in bed:
                if 'Bed'in i.getText().split() or 'Beds' in i.getText().split():
                    temp1[0]=i.getText().split()[0]

                elif 'Bath' in i.getText().split() or 'Baths' in i.getText().split():
                    temp1[1]=i.getText().split()[0]

                elif 'sqft' in i.getText().split():
                    temp1[2]=i.getText().split()[0]
                elif 'Studio' in i.getText().split():
                    temp1[0]=i.getText()            
                else:
                    print('Please maunually get info for page{} and link with index {}'.format(num,c))

            beds.append(temp1[0])
            baths.append(temp1[1])
            sqft.append(temp1[2])

            info = soup.find_all('div', attrs={'class': '_3r4yN XCAFU'}) #Getting porperty tenure, year build and property type
            temp = ['NA','NA','NA']

            for i in info:
                if 'year' in i.getText().lower():
                    temp[0]=i.getText()[:2]

                elif 'Freehold' in i.getText():
                    temp[0]=i.getText()

                elif re.findall('\d\d\d\d',i.getText())!=[]:
                    temp[1]=i.getText()

                elif i.getText() in housing:
                    temp[2]=i.getText()

            tenure.append(temp[0])
            year_built.append(temp[1])
            property_type.append(temp[2])

            # properties = soup.find('a', attrs={'class': '_2aXf0 _2Y9HD'})
            # if properties.getText() in housing:
            #         print(properties.getText())
            #         property_type.append(properties.getText())

            mrts = soup.find_all('p', attrs={'class': '_2sIc2 _2rhE- _1c-pJ'}) #Getting property distance to MRT
            temp2 = ['NA']
            for i in mrts:
                if re.findall('\(\d+ m\)',''.join(i.getText()))!=[]:
                        temp2[0]=re.findall('\(\d+ m\)',''.join(i.getText()))
            mrt.append(temp2[0])
            prices = soup.find('p', attrs={'class': '_1zGm8 _3na6W _1vzK2'}) #Getting property prices
            # print(prices.text[1:])
            price.append(prices.text[1:])

        if len(names)==len(addresses) and len(addresses)==len(beds) and len(beds)==len(baths) and len(baths)==len(year_built) and len(year_built)==len(tenure) and len(tenure)==len(property_type) and len(property_type)==len(mrt) and len(mrt)==len(price):
            print('Houston All good for page N°{} --> Proceed to the next page N°{}!'.format(num, num+1)) #Check that the data are all filled
        else:
            print('shit, houston we have a problem!')  #Break if error
            break
        driver.close()
    data=pd.DataFrame(names,columns=['title'])
    data['address_code']=addresses
    data['beds']=beds
    data['baths']=baths
    data['year_built']=year_built
    data['tenure']=tenure
    data['property_type']=property_type
    data['mrt_distance']=mrt
    data['sqft']=sqft
    data['price']=price
    data.to_csv(file_name)   #Saving as a CSV file
    print('Scraped Successfully! :)')

In [19]:
Scrape(1,11,'Scraped_Data\scraped_pg1_pg10.csv')

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\2652237597.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page 1 number Proceed to the next page 2!
Houston All good for page 2 number Proceed to the next page 3!
Houston All good for page 3 number Proceed to the next page 4!
Houston All good for page 4 number Proceed to the next page 5!
Houston All good for page 5 number Proceed to the next page 6!
Houston All good for page 6 number Proceed to the next page 7!
Houston All good for page 7 number Proceed to the next page 8!
Houston All good for page 8 number Proceed to the next page 9!
Houston All good for page 9 number Proceed to the next page 10!
Houston All good for page 10 number Proceed to the next page 11!
Scraped Successfully! :)

In [20]:
df = pd.read_csv('Scraped_Data\scraped_pg1_pg10.csv')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)
print(df)

     Unnamed: 0                                                        title  \
0    0           HDB Flat for Sale in 810 Tampines Avenue 4
1    1           3 Bed Condo for Sale in Race Course 138
2    2           HDB Flat for Sale in 65 Circuit Road
3    3           HDB Flat for Sale in 501B Yishun Street 51
4    4           1 Bed Condo for Sale in Altez
5    5           5 Bed House for Sale in Belgravia Green
6    6           2 Bed Condo for Sale in The Anchorage
7    7           HDB Flat for Sale in 204A Punggol Field
8    8           HDB Flat for Sale in 411 Tampines Street 41
9    9           HDB Flat for Sale in 510 West Coast Drive
10   10          3 Bed Condo for Sale in Cape Royale
11   11          3 Bed Condo for Sale in The Lilium
12   12          HDB Flat for Sale in 997A Buangkok Crescent
13   13          2 Bed Condo for Sale in New Futura
14   14          HDB Flat for Sale in 810 Tampines Avenue 4
15   15          3 Bed Condo for Sale in Marina Collection
16   16          HDB Flat for Sale in 743 Pasir Ris Street 71
17   17          2 Bed Condo for Sale in Nine Residences
18   18          HDB Flat for Sale in 324 Clementi Avenue 5
19   19          4 Bed Condo for Sale in De Casalle
20   20          3 Bed Condo for Sale in Floridian
21   21          HDB Flat for Sale in 7 Boon Keng Road
22   22          HDB Flat for Sale in 783A Woodlands Rise
23   23          HDB Flat for Sale in 145 Bedok Reservoir Road
24   24          2 Bed Condo for Sale in V On Shenton
25   25          Studio Condo for Sale in Soleil @ Sinaran
26   26          HDB Flat for Sale in 9 Joo Seng Road
27   27          5 Bed House for Sale in Greenwood Mews
28   28          4 Bed Condo for Sale in Seahill
29   29          5 Bed House for Sale in Loyang Villas
30   30          1 Bed Condo for Sale in Bijou
31   31          HDB Flat for Sale in 322 Tampines Street 33
32   32          HDB Flat for Sale in 511A Yishun Street 51
33   33          3 Bed EC for Sale in Lush Acres
34   34          HDB Flat for Sale in 269 Tampines Street 21
35   35          4 Bed Condo for Sale in Olloi
36   36          4 Bed Condo for Sale in Duchess Crest
37   37          4 Bed Condo for Sale in Grange Infinite
38   38          3 Bed Condo for Sale in Livia
39   39          1 Bed Condo for Sale in V On Shenton
40   40          4 Bed Condo for Sale in Palm Gardens
41   41          1 Bed Condo for Sale in Robin Suites
42   42          2 Bed Condo for Sale in Villa Martia
43   43          HDB Flat for Sale in 264F Compassvale Bow
44   44          HDB Flat for Sale in 101 Bukit Purmei Road
45   45          2 Bed Condo for Sale in Botanique At Bartley
46   46          HDB Flat for Sale in 262A Compassvale Street
47   47          2 Bed Condo for Sale in Palm Oasis
48   48          1 Bed Condo for Sale in Marina One Residences
49   49          1 Bed Condo for Sale in Vibes @ East Coast
50   50          4 Bed Condo for Sale in Duchess Crest
51   51          2 Bed Condo for Sale in Riversails
52   52          3 Bed EC for Sale in The Brownstone
53   53          1 Bed Condo for Sale in Eight Riversuites
54   54          2 Bed Condo for Sale in Alex Residences
55   55          2 Bed Condo for Sale in Stirling Residences
56   56          4 Bed Condo for Sale in Parc Centennial
57   57          HDB Flat for Sale in 52 Havelock Road
58   58          HDB Flat for Sale in 448 Pasir Ris Drive 6
59   59          HDB Flat for Sale in 272 Bishan Street 24
60   60          2 Bed Condo for Sale in Spring Grove
61   61          HDB Flat for Sale in 452 Sin Ming Avenue
62   62          2 Bed Condo for Sale in Icon
63   63          6 Bed House for Sale in Glasgow Road
64   64          4 Bed Condo for Sale in Aspen Heights
65   65          2 Bed Condo for Sale in The Lilium
66   66          HDB Flat for Sale in 408B Fernvale Road
67   67          3 Bed Condo for Sale in The Hyde
68   68          3 Bed Condo for Sale in Marina Bay Suites
69   69          HDB Flat for Sale in 22 Marsiling Drive
70   70          3 Bed EC for Sale in The Rainforest
71   71          3 Bed Condo for Sale in The Line @ Tanjong Rhu
72   72          HDB Flat for Sale in 22 Marsiling Drive
73   73          3 Bed EC for Sale in The Rainforest
74   74          3 Bed Condo for Sale in The Line @ Tanjong Rhu
75   75          6 Bed House for Sale in Sennett Estate
76   76          2 Bed Condo for Sale in The Hyde
77   77          2 Bed Condo for Sale in Le Quest
78   78          3 Bed Condo for Sale in Stirling Residences
79   79          Studio Condo for Sale in V On Shenton
80   80          3 Bed Condo for Sale in Juniper Hill
81   81          2 Bed Condo for Sale in Rochelle At Newton
82   82          4 Bed Condo for Sale in The Sail @ Marina Bay
83   83          HDB Flat for Sale in 28D Dover Crescent
84   84          4 Bed Condo for Sale in Yong An Park
85   85          3 Bed Condo for Sale in St. Martin Residence
86   86          HDB Flat for Sale in 22 Marsiling Drive
87   87          2 Bed Condo for Sale in Ritz @ Farrer
88   88          2 Bed Condo for Sale in Casa Fortuna
89   89          HDB Flat for Sale in 33 Ghim Moh Link
90   90          2 Bed Condo for Sale in Midtown Residences
91   91          HDB Flat for Sale in 873 Woodlands Street 81
92   92          2 Bed Condo for Sale in Okio
93   93          3 Bed EC for Sale in Westwood Residences
94   94          HDB Flat for Sale in 83 Commonwealth Close
95   95          HDB Flat for Sale in 876 Tampines Street 84
96   96          HDB Flat for Sale in 663 Buffalo Road
97   97          HDB Flat for Sale in 502C Yishun Street 51
98   98          HDB Flat for Sale in 870 Yishun Street 81
99   99          3 Bed Condo for Sale in The Line @ Tanjong Rhu
100  100         3 Bed Condo for Sale in Artra
101  101         2 Bed Condo for Sale in Nineteen Shelford Road
102  102         4 Bed EC for Sale in Skypark Residences
103  103         3 Bed Condo for Sale in Parc Esta
104  104         2 Bed Condo for Sale in Ripple Bay
105  105         2 Bed Condo for Sale in Sant Ritz
106  106         HDB Flat for Sale in 270C Punggol Field
107  107         2 Bed Condo for Sale in 76 Shenton
108  108         2 Bed Condo for Sale in 76 Shenton
109  109         1 Bed Condo for Sale in The Scotts Tower
110  110         2 Bed Condo for Sale in The Poiz Residences
111  111         2 Bed Condo for Sale in Scotts Square
112  112         HDB Flat for Sale in 412 Serangoon Central
113  113         3 Bed Condo for Sale in Sherwood Towers / Bukit Timah Plaza
114  114         2 Bed Condo for Sale in Alexis
115  115         HDB Flat for Sale in 29 Ghim Moh Link
116  116         1 Bed Condo for Sale in Duo Residences / Duo Tower
117  117         4 Bed House for Sale in Ocean Drive
118  118         6 Bed House for Sale in Lakeside Grove
119  119         HDB Flat for Sale in 330 Woodlands Avenue 1
120  120         HDB Flat for Sale in 8 Bedok South Avenue 2
121  121         3 Bed Condo for Sale in D'ecosia
122  122         2 Bed Condo for Sale in 76 Shenton
123  123         2 Bed Condo for Sale in The Tapestry
124  124         3 Bed Condo for Sale in Martin Modern
125  125         HDB Flat for Sale in 860 Jurong West Street 81
126  126         HDB Flat for Sale in 116 Edgefield Plains
127  127         1 Bed Condo for Sale in Icon
128  128         5 Bed House for Sale in Sembawang Hills Estate
129  129         4 Bed Condo for Sale in Hedges Park Condominium
130  130         2 Bed Condo for Sale in Eon Shenton
131  131         3 Bed Condo for Sale in Angullia Park Residences @ Orchard
132  132         HDB Flat for Sale in 29 Ghim Moh Link
133  133         2 Bed Condo for Sale in Kovan Regency
134  134         4 Bed Condo for Sale in Vue 8 Residence
135  135         3 Bed Condo for Sale in The Mkz
136  136         HDB Flat for Sale in 93A Telok Blangah Street 31
137  137         HDB Flat for Sale in 329 Serangoon Avenue 3
138  138         HDB Flat for Sale in 426A Yishun Avenue 11
139  139         3 Bed Condo for Sale in Reignwood Hamilton Scotts
140  140         4 Bed Condo for Sale in Caribbean At Keppel Bay
141  141         HDB Flat for Sale in 129 Geylang East Avenue 2
142  142         HDB Flat for Sale in 302 Yishun Central
143  143         HDB Flat for Sale in 673B Yishun Avenue 4
144  144         HDB Flat for Sale in 178 Ang Mo Kio Avenue 4
145  145         3 Bed Condo for Sale in Tanamera Crest
146  146         4 Bed Condo for Sale in euHabitat
147  147         HDB Flat for Sale in 105 Towner Road
148  148         HDB Flat for Sale in 408 Jurong West Street 42
149  149         HDB Flat for Sale in 519 Bedok North Avenue 1
150  150         HDB Flat for Sale in 549 Pasir Ris Street 51
151  151         HDB Flat for Sale in 540 Ang Mo Kio Avenue 10
152  152         3 Bed EC for Sale in Bellewaters
153  153         3 Bed Condo for Sale in Langston Ville
154  154         3 Bed Condo for Sale in Queens Peak
155  155         2 Bed Condo for Sale in Tree House
156  156         HDB Flat for Sale in 437 Jurong West Avenue 1
157  157         HDB Flat for Sale in 224B Sumang Lane
158  158         HDB Flat for Sale in 178 Ang Mo Kio Avenue 4
159  159         2 Bed Condo for Sale in Flamingo Valley
160  160         5 Bed House for Sale in Luxus Hills
161  161         HDB Flat for Sale in 119B Canberra Crescent
162  162         2 Bed Condo for Sale in The Lilium
163  163         HDB Flat for Sale in 740 Tampines Street 72
164  164         HDB Flat for Sale in 117B Jalan Tenteram
165  165         3 Bed EC for Sale in Bellewoods
166  166         HDB Flat for Sale in 29 Marine Crescent
167  167         1 Bed Condo for Sale in The Sail @ Marina Bay
168  168         HDB Flat for Sale in 415B Fernvale Link
169  169         3 Bed Condo for Sale in Symphony Suites
170  170         HDB Flat for Sale in 180C Boon Lay Drive
171  171         2 Bed Condo for Sale in D'Pavilion
172  172         3 Bed Condo for Sale in Cape Royale
173  173         HDB Flat for Sale in 686D Choa Chu Kang Crescent
174  174         Studio Condo for Sale in Duo Residences / Duo Tower
175  175         HDB Flat for Sale in 413 Serangoon Central
176  176         HDB Flat for Sale in 523 Serangoon North Avenue 4
177  177         4 Bed Condo for Sale in D'leedon
178  178         6 Bed House for Sale in Horizon Gardens
179  179         HDB Flat for Sale in 316A Punggol Way
180  180         3 Bed Condo for Sale in Regent Grove
181  181         2 Bed Condo for Sale in The Metropolitan Condominium
182  182         5 Bed House for Sale in The Berthside
183  183         1 Bed Condo for Sale in Sims Urban Oasis
184  184         5 Bed Condo for Sale in D'leedon
185  185         2 Bed Condo for Sale in Holland Residences
186  186         HDB Flat for Sale in 772 Bedok Reservoir View
187  187         HDB Flat for Sale in 335C Yishun Street 31
188  188         2 Bed Condo for Sale in Seventy St Patrick's
189  189         4 Bed Condo for Sale in Leonie Towers
190  190         2 Bed Condo for Sale in The Waterline
191  191         3 Bed Condo for Sale in Nouvel 18
192  192         HDB Flat for Sale in 227 Lorong 8 Toa Payoh
193  193         1 Bed Condo for Sale in City Gate
194  194         3 Bed Condo for Sale in Regent Grove
195  195         3 Bed Condo for Sale in River Place
196  196         HDB Flat for Sale in 441C Bukit Batok West Avenue 8
197  197         1 Bed Condo for Sale in Robin Suites
198  198         3 Bed Condo for Sale in Corals At Keppel Bay
199  199         HDB Flat for Sale in 194B Bukit Batok West Avenue 6
200  200         HDB Flat for Sale in 710 Hougang Avenue 2
201  201         2 Bed Condo for Sale in Sky Vue
202  202         3 Bed Condo for Sale in Marina Bay Suites
203  203         2 Bed Condo for Sale in Le Quest
204  204         2 Bed Condo for Sale in The Crest
205  205         4 Bed Condo for Sale in One Shenton
206  206         4 Bed Condo for Sale in Marina One Residences
207  207         3 Bed Condo for Sale in Sherwood Condominium
208  208         HDB Flat for Sale in 292C Bukit Batok East Avenue 6
209  209         HDB Flat for Sale in 142 Lorong Ah Soo
210  210         1 Bed Condo for Sale in Studio 3
211  211         HDB Flat for Sale in 308B Punggol Walk
212  212         HDB Flat for Sale in 143 Potong Pasir Avenue 2
213  213         5 Bed Condo for Sale in Wang Lodge
214  214         HDB Flat for Sale in 462 Ang Mo Kio Avenue 10
215  215         HDB Flat for Sale in 528 Choa Chu Kang Street 51
216  216         HDB Flat for Sale in 190 Punggol Central
217  217         HDB Flat for Sale in 519D Tampines Central 8
218  218         1 Bed Condo for Sale in Bijou
219  219         5 Bed Condo for Sale in Nouvel 18
220  220         HDB Flat for Sale in 669 Woodlands Ring Road
221  221         HDB Flat for Sale in 785 Yishun Avenue 2
222  222         3 Bed Condo for Sale in Bluwaters
223  223         4 Bed EC for Sale in Westwood Residences
224  224         HDB Flat for Sale in 90A Telok Blangah Street 31
225  225         3 Bed Condo for Sale in Sant Ritz
226  226         5 Bed House for Sale in Lentor Villas
227  227         2 Bed Condo for Sale in Regent Park
228  228         3 Bed Condo for Sale in Wallich Residence
229  229         2 Bed Condo for Sale in Queens Peak
230  230         HDB Flat for Sale in 190 Punggol Central
231  231         2 Bed Condo for Sale in Regent Residences
232  232         2 Bed Condo for Sale in Suites @ Eastcoast
233  233         HDB Flat for Sale in 125 Serangoon North Avenue 1
234  234         3 Bed EC for Sale in Park Green
235  235         4 Bed Condo for Sale in Sunshine Grandeur
236  236         2 Bed Condo for Sale in Thomson V Two
237  237         3 Bed House for Sale in Joo Chiat Terrace
238  238         2 Bed Condo for Sale in The Navian
239  239         1 Bed Condo for Sale in Midtown Residences
240  240         2 Bed Condo for Sale in Mackenzie 88
241  241         HDB Flat for Sale in 625 Senja Road
242  242         HDB Flat for Sale in 786B Woodlands Drive 60
243  243         HDB Flat for Sale in 591A Ang Mo Kio Street 51
244  244         2 Bed Condo for Sale in Oasis @ Elias
245  245         HDB Flat for Sale in 296C Bukit Batok Street 22
246  246         3 Bed Condo for Sale in The Imperial
247  247         HDB Flat for Sale in 235 Ang Mo Kio Avenue 3
248  248         HDB Flat for Sale in 275C Compassvale Link
249  249         1 Bed Condo for Sale in Prestige Point
250  250         3 Bed Condo for Sale in Blue Horizon
251  251         HDB Flat for Sale in 127 Tampines Street 11
252  252         HDB Flat for Sale in 90B Telok Blangah Street 31
253  253         3 Bed House for Sale in Richards Place
254  254         HDB Flat for Sale in 520 Jelapang Road
255  255         4 Bed House for Sale in Lorong Paya Lebar
256  256         2 Bed Condo for Sale in Fulcrum
257  257         1 Bed Condo for Sale in Twin VEW
258  258         2 Bed Condo for Sale in 6 Derbyshire
259  259         4 Bed Condo for Sale in Seahill
260  260         1 Bed Condo for Sale in Estella Gardens
261  261         3 Bed Condo for Sale in The Orchard Residences
262  262         HDB Flat for Sale in 758 Woodlands Avenue 6
263  263         HDB Flat for Sale in 660 Woodlands Ring Road
264  264         HDB Flat for Sale in 449 Bukit Batok West Avenue 9
265  265         HDB Flat for Sale in 205 Petir Road
266  266         HDB Flat for Sale in 90B Telok Blangah Street 31
267  267         2 Bed Condo for Sale in The Promenade @ Pelikat
268  268         2 Bed Condo for Sale in D'leedon
269  269         1 Bed Condo for Sale in One Balmoral
270  270         4 Bed House for Sale in The Berthside
271  271         HDB Flat for Sale in 324 Sembawang Close
272  272         HDB Flat for Sale in 104B Edgefield Plains
273  273         HDB Flat for Sale in 665 Yishun Avenue 4
274  274         HDB Flat for Sale in 121B Rivervale Drive
275  275         HDB Flat for Sale in 520 Serangoon North Avenue 4
276  276         4 Bed Condo for Sale in Boathouse Residences
277  277         4 Bed Condo for Sale in One Shenton
278  278         2 Bed Condo for Sale in Marina One Residences
279  279         HDB Flat for Sale in 163 Bishan Street 13
280  280         4 Bed House for Sale in Flower Road
281  281         3 Bed Condo for Sale in Parc Esta
282  282         4 Bed EC for Sale in Bellewoods
283  283         HDB Flat for Sale in 337A Tah Ching Road
284  284         HDB Flat for Sale in 256 Tampines Street 21
285  285         HDB Flat for Sale in 662A Edgedale Plains
286  286         2 Bed Condo for Sale in The Tre Ver
287  287         HDB Flat for Sale in 697A Jurong West Central 3
288  288         3 Bed House for Sale in Capitol Park
289  289         HDB Flat for Sale in 314A Punggol Way
290  290         2 Bed Condo for Sale in Nouvel 18
291  291         HDB Flat for Sale in 529 Woodlands Drive 14
292  292         1 Bed Condo for Sale in The Sail @ Marina Bay
293  293         HDB Flat for Sale in 502D Yishun Street 51
294  294         HDB Flat for Sale in 628 Jurong West Street 65
295  295         HDB Flat for Sale in 224C Sumang Lane
296  296         HDB Flat for Sale in 350 Tampines Street 33
297  297         1 Bed Condo for Sale in Stars Of Kovan
298  298         3 Bed Condo for Sale in Elliot At The East Coast
299  299         4 Bed Condo for Sale in Corals At Keppel Bay
300  300         4 Bed Condo for Sale in Alba
301  301         5 Bed House for Sale in Paterson Garden
302  302         3 Bed House for Sale in Capitol Park
303  303         HDB Flat for Sale in 477 Jurong West Street 41
304  304         2 Bed Condo for Sale in The Mkz
305  305         2 Bed Condo for Sale in Vacanza @ East
306  306         3 Bed Condo for Sale in Hazel Park Condominium
307  307         2 Bed Condo for Sale in The Quinn
308  308         HDB Flat for Sale in 292A Bukit Batok East Avenue 6
309  309         2 Bed Condo for Sale in Wallich Residence
310  310         1 Bed Condo for Sale in Eco
311  311         4 Bed Condo for Sale in Wallich Residence
312  312         HDB Flat for Sale in 425 Choa Chu Kang Avenue 4
313  313         6 Bed House for Sale in Inggu Road
314  314         3 Bed Condo for Sale in Martin No 38
315  315         3 Bed Condo for Sale in Marina One Residences
316  316         3 Bed Condo for Sale in Flamingo Valley
317  317         2 Bed Condo for Sale in The Crest
318  318         2 Bed Condo for Sale in Lakeholmz
319  319         3 Bed Condo for Sale in The Peak @ Balmeg
320  320         3 Bed EC for Sale in Signature At Yishun
321  321         HDB Flat for Sale in 293C Bukit Batok Street 21
322  322         HDB Flat for Sale in 308B Punggol Walk
323  323         2 Bed Condo for Sale in 6 Derbyshire
324  324         5 Bed House for Sale in Picardy Gardens
325  325         1 Bed Condo for Sale in Alexis
326  326         HDB Flat for Sale in 816 Woodlands Street 82
327  327         HDB Flat for Sale in 310 Clementi Avenue 4
328  328         HDB Flat for Sale in 658B Punggol East
329  329         2 Bed Condo for Sale in Thomson Three
330  330         HDB Flat for Sale in 310C Punggol Walk
331  331         2 Bed Condo for Sale in The Rochester Residences
332  332         HDB Flat for Sale in 426 Jurong West Avenue 1
333  333         HDB Flat for Sale in 683 Tessensohn Road
334  334         4 Bed Condo for Sale in Sturdee Residences
335  335         HDB Flat for Sale in 561B Jurong West Street 42
336  336         4 Bed Condo for Sale in The Lumos
337  337         2 Bed Condo for Sale in Park Colonial
338  338         5 Bed House for Sale in Picardy Gardens
339  339         3 Bed EC for Sale in Blossom Residences
340  340         3 Bed EC for Sale in Whitewater
341  341         3 Bed Condo for Sale in Rochelle At Newton
342  342         HDB Flat for Sale in 658C Punggol East
343  343         6 Bed House for Sale in Sentosa Cove
344  344         3 Bed Condo for Sale in The Tessarina
345  345         2 Bed Condo for Sale in Skies Miltonia
346  346         HDB Flat for Sale in 186 Pasir Ris Street 11

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\3039857813.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [21]:
Scrape(11,21,'Scraped_Data\scraped_pg11_pg20.csv')

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\2652237597.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page 11 number Proceed to the next page 12!
Houston All good for page 12 number Proceed to the next page 13!
Houston All good for page 13 number Proceed to the next page 14!
Houston All good for page 14 number Proceed to the next page 15!
Houston All good for page 15 number Proceed to the next page 16!
Houston All good for page 16 number Proceed to the next page 17!
Houston All good for page 17 number Proceed to the next page 18!
Houston All good for page 18 number Proceed to the next page 19!
Houston All good for page 19 number Proceed to the next page 20!
Houston All good for page 20 number Proceed to the next page 21!
Scraped Successfully! :)

In [22]:
Scrape(21,31,'Scraped_Data\scraped_pg21_pg30.csv')

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\2652237597.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page 21 number Proceed to the next page 22!
Houston All good for page 22 number Proceed to the next page 23!
Houston All good for page 23 number Proceed to the next page 24!
Houston All good for page 24 number Proceed to the next page 25!
Houston All good for page 25 number Proceed to the next page 26!
Houston All good for page 26 number Proceed to the next page 27!
Houston All good for page 27 number Proceed to the next page 28!
Houston All good for page 28 number Proceed to the next page 29!
Houston All good for page 29 number Proceed to the next page 30!
Houston All good for page 30 number Proceed to the next page 31!
Scraped Successfully! :)

In [23]:
Scrape(31,41,'Scraped_Data\scraped_pg31_pg40.csv')

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\2652237597.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page 31 number Proceed to the next page 32!
Houston All good for page 32 number Proceed to the next page 33!
Houston All good for page 33 number Proceed to the next page 34!
Houston All good for page 34 number Proceed to the next page 35!
Houston All good for page 35 number Proceed to the next page 36!
Houston All good for page 36 number Proceed to the next page 37!
Houston All good for page 37 number Proceed to the next page 38!
Houston All good for page 38 number Proceed to the next page 39!
Houston All good for page 39 number Proceed to the next page 40!
Houston All good for page 40 number Proceed to the next page 41!
Scraped Successfully! :)

In [ ]:
Scrape(41,51,'Scraped_Data\scraped_pg41_pg50.csv')

In [53]:
Scrape(51,61,'Scraped_Data\scraped_pg51_pg60.csv')

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\1849449702.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page N°51 --> Proceed to the next page N°52!
Houston All good for page N°52 --> Proceed to the next page N°53!
Houston All good for page N°53 --> Proceed to the next page N°54!
Houston All good for page N°54 --> Proceed to the next page N°55!
Houston All good for page N°55 --> Proceed to the next page N°56!
Houston All good for page N°56 --> Proceed to the next page N°57!
Houston All good for page N°57 --> Proceed to the next page N°58!
Houston All good for page N°58 --> Proceed to the next page N°59!
Houston All good for page N°59 --> Proceed to the next page N°60!
Houston All good for page N°60 --> Proceed to the next page N°61!
Scraped Successfully! :)

In [55]:
Scrape(61,71,'Scraped_Data\scraped_pg61_pg70.csv')

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\1849449702.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page N°61 --> Proceed to the next page N°62!
Houston All good for page N°62 --> Proceed to the next page N°63!
Houston All good for page N°63 --> Proceed to the next page N°64!
Houston All good for page N°64 --> Proceed to the next page N°65!
Houston All good for page N°65 --> Proceed to the next page N°66!
Houston All good for page N°66 --> Proceed to the next page N°67!
Houston All good for page N°67 --> Proceed to the next page N°68!
Houston All good for page N°68 --> Proceed to the next page N°69!
Houston All good for page N°69 --> Proceed to the next page N°70!
Houston All good for page N°70 --> Proceed to the next page N°71!
Scraped Successfully! :)

In [56]:
Scrape(71,81,'Scraped_Data\scraped_pg71_pg80.csv')

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\1849449702.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page N°71 --> Proceed to the next page N°72!
Houston All good for page N°72 --> Proceed to the next page N°73!
Houston All good for page N°73 --> Proceed to the next page N°74!
Houston All good for page N°74 --> Proceed to the next page N°75!
Houston All good for page N°75 --> Proceed to the next page N°76!

ProtocolError: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

In [57]:
Scrape(81,91,'Scraped_Data\scraped_pg81_pg90.csv')

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\1849449702.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page N°81 --> Proceed to the next page N°82!
Houston All good for page N°82 --> Proceed to the next page N°83!
Houston All good for page N°83 --> Proceed to the next page N°84!
Houston All good for page N°84 --> Proceed to the next page N°85!
Houston All good for page N°85 --> Proceed to the next page N°86!
Houston All good for page N°86 --> Proceed to the next page N°87!
Houston All good for page N°87 --> Proceed to the next page N°88!
Houston All good for page N°88 --> Proceed to the next page N°89!
Houston All good for page N°89 --> Proceed to the next page N°90!
Houston All good for page N°90 --> Proceed to the next page N°91!
Scraped Successfully! :)

In [58]:
Scrape(91,101,'Scraped_Data\scraped_pg91_pg100.csv')

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\1849449702.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page N°91 --> Proceed to the next page N°92!
Houston All good for page N°92 --> Proceed to the next page N°93!
Houston All good for page N°93 --> Proceed to the next page N°94!
Houston All good for page N°94 --> Proceed to the next page N°95!
Houston All good for page N°95 --> Proceed to the next page N°96!
Houston All good for page N°96 --> Proceed to the next page N°97!
Houston All good for page N°97 --> Proceed to the next page N°98!
Houston All good for page N°98 --> Proceed to the next page N°99!
Houston All good for page N°99 --> Proceed to the next page N°100!
Houston All good for page N°100 --> Proceed to the next page N°101!
Scraped Successfully! :)

In [59]:
try:
    Scrape(101,111,'Scraped_Data\scraped_pg101_pg111.csv')
except:
    pass

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\1849449702.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page N°101 --> Proceed to the next page N°102!
Houston All good for page N°102 --> Proceed to the next page N°103!
Houston All good for page N°103 --> Proceed to the next page N°104!
Houston All good for page N°104 --> Proceed to the next page N°105!
Houston All good for page N°105 --> Proceed to the next page N°106!
Houston All good for page N°106 --> Proceed to the next page N°107!
Houston All good for page N°107 --> Proceed to the next page N°108!
Houston All good for page N°108 --> Proceed to the next page N°109!
Houston All good for page N°109 --> Proceed to the next page N°110!
Houston All good for page N°110 --> Proceed to the next page N°111!
Scraped Successfully! :)

In [61]:
try:
    Scrape(111,121,'Scraped_Data\scraped_pg111_pg121.csv')
except:
    pass

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\1849449702.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page N°111 --> Proceed to the next page N°112!
Houston All good for page N°112 --> Proceed to the next page N°113!
Houston All good for page N°113 --> Proceed to the next page N°114!
Houston All good for page N°114 --> Proceed to the next page N°115!
Houston All good for page N°115 --> Proceed to the next page N°116!
Houston All good for page N°116 --> Proceed to the next page N°117!
Houston All good for page N°117 --> Proceed to the next page N°118!
Houston All good for page N°118 --> Proceed to the next page N°119!
Houston All good for page N°119 --> Proceed to the next page N°120!
Houston All good for page N°120 --> Proceed to the next page N°121!
Scraped Successfully! :)

In [62]:
try:
    Scrape(121,131,'Scraped_Data\scraped_pg121_pg131.csv')
except:
    pass

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\1849449702.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page N°121 --> Proceed to the next page N°122!
Houston All good for page N°122 --> Proceed to the next page N°123!
Houston All good for page N°123 --> Proceed to the next page N°124!
Houston All good for page N°124 --> Proceed to the next page N°125!
Houston All good for page N°125 --> Proceed to the next page N°126!
Houston All good for page N°126 --> Proceed to the next page N°127!
Houston All good for page N°127 --> Proceed to the next page N°128!
Houston All good for page N°128 --> Proceed to the next page N°129!
Houston All good for page N°129 --> Proceed to the next page N°130!
Houston All good for page N°130 --> Proceed to the next page N°131!
Scraped Successfully! :)

In [63]:
try:
    Scrape(131,141,'Scraped_Data\scraped_pg131_pg141.csv')
except:
    pass

C:\Users\MSI\AppData\Local\Temp\ipykernel_12228\1849449702.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe")

Houston All good for page N°131 --> Proceed to the next page N°132!
Houston All good for page N°132 --> Proceed to the next page N°133!
Houston All good for page N°133 --> Proceed to the next page N°134!
Houston All good for page N°134 --> Proceed to the next page N°135!
Houston All good for page N°135 --> Proceed to the next page N°136!
Houston All good for page N°136 --> Proceed to the next page N°137!
Houston All good for page N°137 --> Proceed to the next page N°138!
Houston All good for page N°138 --> Proceed to the next page N°139!
Houston All good for page N°139 --> Proceed to the next page N°140!
Houston All good for page N°140 --> Proceed to the next page N°141!
Scraped Successfully! :)

In [ ]:
try:
    Scrape(141,151,'Scraped_Data\scraped_pg141_pg151.csv')
except:
    pass

In [ ]:
try:
    Scrape(151,161,'Scraped_Data\scraped_pg151_pg161.csv')
except:
    pass

In [12]:
try:
    Scrape(161,171,'Scraped_Data\scraped_pg161_pg171.csv')
except:
    pass

In [13]:
try:
    Scrape(171,201,'Scraped_Data\scraped_pg171_pg201.csv')
except:
    pass

In [ ]:
Scrape(201,229,'Scraped_Data\scraped_pg201_pg228.csv')